<mat-toolbar class="spotify-toolbar">
  <img src="assets/music-player.svg" alt="Spotify Logo" class="spotify-logo">
  <span class="toolbar-title">Login</span>
</mat-toolbar>
<div class="login-container">
  <mat-card class="spotify-card">
    <mat-card-title class="spotify-title">Login with Spotify</mat-card-title>
    <mat-card-content class="spotify-content">
      <button mat-raised-button class="login-button" (click)="loginWithSpotify()">Login with Spotify</button>
    </mat-card-content>
  </mat-card>
</div>
